.container {
  padding: 50px 10px 20px 10px;
  background-color: #f8f9fa;
}

.tableContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.searchAndFilter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.filterSelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.tableWrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.tenantTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tenantTable th,
.tenantTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tenantTable th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.tenantTable tr:hover {
  background-color: #f9f9f9;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addTenantBtn {
  background-color: #4caf50;  
  color: white; 
  border: none;
  padding: 10px 20px;  
  font-size: 16px;  
  border-radius: 5px;  
  cursor: pointer;  
  transition: background-color 0.3s ease;
}

.editBtn,
.deleteBtn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editBtn {
  background-color: #007bff;
  color: #fff;
}

.editBtn:hover {
  background-color: #0056b3;
}

.deleteBtn {
  background-color: #dc3545; 
  color: #fff;
}

.deleteBtn:hover {
  background-color: #c82333; 
}

.editBtn:disabled,
.deleteBtn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}


/* Responsive Design */
@media (max-width: 768px) {
  .searchAndFilter {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .searchInput {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .filterSelect {
    width: 100%;
  }
  
  .tenantTable th,
  .tenantTable td {
    padding: 8px;
  }
  
  .tenantTable {
    font-size: 14px;
  }
  
  .editBtn,
  .deleteBtn {
    padding: 4px 8px;
    font-size: 12px;
    margin-right: 4px;
  }
}

@media (max-width: 600px) {
  .searchInput {
    width: 100%;
    padding: 8px;
  }
  
  .filterSelect {
    width: 100%;
    padding: 8px;
  }
  
  
  .tenantTable {
    font-size: 12px;
  }
  
  .editBtn,
  .deleteBtn {
    padding: 4px 8px;
    font-size: 12px;
  }
}